xml-fall13/src/complex-example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="billingAddress" type="addressType"/>
	<xs:element name="shippingAddress" type="addressType"/>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="street" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="state" type="xs:string" minOccurs="0"/>
			<xs:element name="zip" type="xs:decimal"/>
		</xs:sequence>
		<xs:attribute name="country" type="xs:NMTOKEN"/>
	</xs:complexType>
</xs:schema>